{%- if page.comments != false and site.environment == "production" -%}
    <div id="anycomment-app"></div>
    <script>
        AnyComment = window.AnyComment || []; AnyComment.Comments = [];
        AnyComment.Comments.push({
            "root": "anycomment-app",
            "app_id": {{ site.anycomment.app_id }},
            "language": "ru"
        })
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.anycomment.io/comment/embed.js";
        var sa = document.getElementsByTagName("script")[0];
        sa.parentNode.insertBefore(s, s.nextSibling);
    </script>
{%- endif -%}
